In [1]:
import pandas as pd

archivos_demre = {
    2015: '1tKq6C8Cb-OVWcMibddcaVS-ruWG8RZ98',
    2016: '1FvcYDKS7vkR6YkDdl93Mwkws83WilMtA',
    2017: '1XGirhyVEEhgWdicYLq1jZ5ZOb8Cn99qX',
    2018: '1EVpqietS_JUYssi6xjfcnN-tXadocq1r',
    2019: '19Ryp-S95tJTOYAimrUBChcGB-2lJw4sh',
}

lista_de_dataframes = []

print("Iniciando proceso de unificación...")

# Usamos un bucle para recorrer cada año y cada ID en nuestro diccionario.
for anio, file_id in archivos_demre.items():
    try:
        # Construimos la URL de descarga para el archivo actual
        url = f'https://drive.google.com/uc?export=download&id={file_id}'

        # Leemos el CSV desde la URL
        print(f"-> Cargando datos del año {anio}...")
        df_temporal = pd.read_csv(url, sep=';')

        # ¡Este es el paso clave! Creamos una nueva columna con el año.
        df_temporal['anio_proceso'] = anio

        # Agregamos el DataFrame de este año a nuestra lista.
        lista_de_dataframes.append(df_temporal)
        print(f"   ...Datos del año {anio} cargados con éxito.")

    except Exception as e:
        print(f"   !!! Error al cargar el año {anio}: {e}")

Iniciando proceso de unificación...
-> Cargando datos del año 2015...
   ...Datos del año 2015 cargados con éxito.
-> Cargando datos del año 2016...
   ...Datos del año 2016 cargados con éxito.
-> Cargando datos del año 2017...
   ...Datos del año 2017 cargados con éxito.
-> Cargando datos del año 2018...
   ...Datos del año 2018 cargados con éxito.
-> Cargando datos del año 2019...
   ...Datos del año 2019 cargados con éxito.

In [3]:
display(lista_de_dataframes[1].head())
display(lista_de_dataframes[1].tail())

,ID_aux,RBD,GRUPO_DEPENDENCIA,RAMA,SITUACION_EGRESO,CODIGO_REGION,CODIGO_COMUNA,LENG_ACTUAL,MATE_ACTUAL,HCSO_ACTUAL,...,MODULO_ACTUAL,LENG_ANTERIOR,MATE_ANTERIOR,HCSO_ANTERIOR,CIEN_ANTERIOR,MODULO_ANTERIOR,PROM_NOTAS,PTJE_NEM,PTJE_RANKING,anio_proceso
0,id_0000900070029,6897,3,H1,5,14,14103.0,394,244,270,...,NaN,0,0,0,0,NaN,530,476,481,2016
1,id_0000900070053,6897,3,H1,5,14,14103.0,567,539,0,...,BIO,0,0,0,0,NaN,543,502,507,2016
2,id_0000900070059,22634,2,H1,5,14,14101.0,514,342,421,...,NaN,0,0,0,0,NaN,520,455,455,2016
3,id_0000900070070,14299,2,H1,5,5,5801.0,507,532,0,...,BIO,0,0,0,0,NaN,520,455,455,2016
4,id_0000900070075,26061,2,H2,1,13,13128.0,385,425,356,...,NaN,0,0,0,0,NaN,567,555,588,2016

,ID_aux,RBD,GRUPO_DEPENDENCIA,RAMA,SITUACION_EGRESO,CODIGO_REGION,CODIGO_COMUNA,LENG_ACTUAL,MATE_ACTUAL,HCSO_ACTUAL,...,MODULO_ACTUAL,LENG_ANTERIOR,MATE_ANTERIOR,HCSO_ANTERIOR,CIEN_ANTERIOR,MODULO_ANTERIOR,PROM_NOTAS,PTJE_NEM,PTJE_RANKING,anio_proceso
266489,id_9992599479234,8488,3,H1,1,13,13101.0,439,406,458,...,BIO,0,0,0,0,NaN,615,651,705,2016
266490,id_9992999579254,25557,2,H2,1,13,13401.0,465,458,469,...,NaN,0,0,0,0,NaN,580,582,654,2016
266491,id_9996599679690,10313,2,H1,1,13,13127.0,416,364,374,...,BIO,0,0,0,0,NaN,605,631,764,2016
266492,id_9997599679773,15745,2,H1,5,6,6301.0,493,406,0,...,BIO,0,0,0,0,NaN,558,534,532,2016
266493,id_9998599079880,1756,2,H1,1,5,5109.0,431,507,0,...,BIO,0,0,0,0,NaN,553,523,524,2016