In [4]:
import pandas as pd

archivos_demre = {
    2004: '1QmT7MrhT5elmBxwFnHTRxvDo-WnxSqLk',
    2005: '1L37Qs37HYCSPqNiK_AysSZ5-1ee20XB3',
    2006: '17T1xKGUGQCdD5ImdJ4xsuS4WcWFbZ487',
    2007: '1dTfZEoOGElv8ADnLxgG0CXiP_P1Tbn2n',
    2008: '1cVDazftOBixjRVEjIMz72SobVH_JZ9af',
    2009: '1FLU5pj56v9Hin2nZ714BDkHP2BNCv0uK',
    2010: '1gQOioZY8rYHJ067O4rOE6YuUC_OwxGH0',
    2011: '1k7gR9WjHgAz6BIQ02hsPOoe0nyuH7cW3',
    2012: '1dw0KFah64rKdsb1oaqEGC0-6qafY4khl',
    2013: '1rkXXIxrX_5Y3ajjMWePZicH8V6M5wioF',
    2014: '1PTvgmLiUTNf-fZ5CiowjbZJz_c356aPx',
    2015: '1tKq6C8Cb-OVWcMibddcaVS-ruWG8RZ98',
    2016: '1FvcYDKS7vkR6YkDdl93Mwkws83WilMtA',
    2017: '1XGirhyVEEhgWdicYLq1jZ5ZOb8Cn99qX',
    2018: '1EVpqietS_JUYssi6xjfcnN-tXadocq1r',
    2019: '19Ryp-S95tJTOYAimrUBChcGB-2lJw4sh',
    2020: '1OqSyomh5-kQSeyhLZXfva4WTPINYHgsj',
    2021: '1eNO3lge5flk_K7dviaJxLKjmF9EHQ9Np',
    2022: '1g14GDc-M514I5v5ZsvF96HVba6DW1z0q',
    2023: '1lV6AJqJd8-_iFuak8o_j2jK5mQDnUbRR',
    2024: '1aAlikLl_8YRwGX4B2Kxfc6aza4vmHknE'
}

lista_de_dataframes = []

print("Iniciando proceso de unificación...")

# Usamos un bucle para recorrer cada año y cada ID en nuestro diccionario.
for anio, file_id in archivos_demre.items():
    try:
        # Construimos la URL de descarga para el archivo actual
        url = f'https://drive.google.com/uc?export=download&id={file_id}'

        # Leemos el CSV desde la URL
        print(f"-> Cargando datos del año {anio}...")
        df_temporal = pd.read_csv(url, sep=';')

        # ¡Este es el paso clave! Creamos una nueva columna con el año.
        df_temporal['anio_proceso'] = anio

        # Agregamos el DataFrame de este año a nuestra lista.
        lista_de_dataframes.append(df_temporal)
        print(f"   ...Datos del año {anio} cargados con éxito.")

    except Exception as e:
        print(f"   !!! Error al cargar el año {anio}: {e}")

Iniciando proceso de unificación...
-> Cargando datos del año 2004...
   ...Datos del año 2004 cargados con éxito.
-> Cargando datos del año 2005...
   ...Datos del año 2005 cargados con éxito.
-> Cargando datos del año 2006...
   ...Datos del año 2006 cargados con éxito.
-> Cargando datos del año 2007...
   ...Datos del año 2007 cargados con éxito.
-> Cargando datos del año 2008...
   ...Datos del año 2008 cargados con éxito.
-> Cargando datos del año 2009...
   ...Datos del año 2009 cargados con éxito.
-> Cargando datos del año 2010...
   ...Datos del año 2010 cargados con éxito.
-> Cargando datos del año 2011...
   ...Datos del año 2011 cargados con éxito.
-> Cargando datos del año 2012...
   ...Datos del año 2012 cargados con éxito.
-> Cargando datos del año 2013...
   ...Datos del año 2013 cargados con éxito.
-> Cargando datos del año 2014...
   ...Datos del año 2014 cargados con éxito.
-> Cargando datos del año 2015...
   ...Datos del año 2015 cargados con éxito.
-> Cargando datos del año 2016...
   ...Datos del año 2016 cargados con éxito.
-> Cargando datos del año 2017...
   ...Datos del año 2017 cargados con éxito.
-> Cargando datos del año 2018...
   ...Datos del año 2018 cargados con éxito.
-> Cargando datos del año 2019...
   ...Datos del año 2019 cargados con éxito.
-> Cargando datos del año 2020...
   ...Datos del año 2020 cargados con éxito.
-> Cargando datos del año 2021...
   ...Datos del año 2021 cargados con éxito.
-> Cargando datos del año 2022...
   ...Datos del año 2022 cargados con éxito.
-> Cargando datos del año 2023...
   ...Datos del año 2023 cargados con éxito.
-> Cargando datos del año 2024...

C:\Users\marti\AppData\Local\Temp\ipykernel_7460\3284869019.py:39: DtypeWarning: Columns (34) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temporal = pd.read_csv(url, sep=';')

   ...Datos del año 2024 cargados con éxito.

In [7]:
lista_de_dataframes[19]

,ID_aux,RBD,COD_ENS,GRUPO_DEPENDENCIA,RAMA_EDUCACIONAL,SITUACION_EGRESO,CODIGO_REGION,CODIGO_COMUNA,PROMEDIO_NOTAS,PORC_SUP_NOTAS,...,MATE_INV_ACTUAL,HCSOC_INV_ACTUAL,CIEN_INV_ACTUAL,MODULO_INV_ACTUAL,CLEC_REG_ANTERIOR,MATE1_REG_ANTERIOR,HCSOC_REG_ANTERIOR,CIEN_REG_ANTERIOR,MODULO_REG_ANTERIOR,anio_proceso
0,id_0000900170003,10584.0,363.0,3.0,H2,5,13.0,13401.0,"5,03",80,...,318.0,0.0,416.0,BIO,NaN,NaN,NaN,NaN,NaN,2023
1,id_0000900470024,10250.0,363.0,3.0,H2,1,13.0,13107.0,"5,9",30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023
2,id_0000900670068,12667.0,310.0,2.0,H1,5,1.0,1101.0,5,100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023
3,id_0001900070103,7006.0,310.0,2.0,H1,5,14.0,14202.0,"5,6",40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023
4,id_0001900070149,6752.0,610.0,3.0,T3,5,14.0,14101.0,"5,28",70,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293860,id_9999599979968,31002.0,310.0,2.0,H1,5,14.0,14106.0,"5,98",30,...,0.0,485.0,0.0,NaN,627.0,447.0,0.0,455.0,BIO,2023
293861,id_999990948930,25783.0,410.0,2.0,T1,1,13.0,13129.0,"6,03",50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023
293862,id_999994942103,705.0,510.0,3.0,T2,1,4.0,4301.0,"5,73",40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023
293863,id_999997943080,NaN,NaN,NaN,NaN,4,NaN,NaN,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023
293864,id_9999999879976,9877.0,363.0,3.0,H2,1,13.0,13119.0,"5,85",20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023