In [2]:
import pandas as pd

archivos_demre = {
    2004: '1QmT7MrhT5elmBxwFnHTRxvDo-WnxSqLk',
    2005: '1L37Qs37HYCSPqNiK_AysSZ5-1ee20XB3',
    2006: '17T1xKGUGQCdD5ImdJ4xsuS4WcWFbZ487',
    2007: '1dTfZEoOGElv8ADnLxgG0CXiP_P1Tbn2n',
    2008: '1cVDazftOBixjRVEjIMz72SobVH_JZ9af',
    2009: '1FLU5pj56v9Hin2nZ714BDkHP2BNCv0uK',
    2010: '1gQOioZY8rYHJ067O4rOE6YuUC_OwxGH0',
    2011: '1k7gR9WjHgAz6BIQ02hsPOoe0nyuH7cW3',
    2012: '1dw0KFah64rKdsb1oaqEGC0-6qafY4khl',
    2013: '1rkXXIxrX_5Y3ajjMWePZicH8V6M5wioF',
    2014: '1PTvgmLiUTNf-fZ5CiowjbZJz_c356aPx',
    2015: '1tKq6C8Cb-OVWcMibddcaVS-ruWG8RZ98',
    2016: '1FvcYDKS7vkR6YkDdl93Mwkws83WilMtA',
    2017: '1XGirhyVEEhgWdicYLq1jZ5ZOb8Cn99qX',
    2018: '1EVpqietS_JUYssi6xjfcnN-tXadocq1r',
    2019: '19Ryp-S95tJTOYAimrUBChcGB-2lJw4sh',
    2020: '1OqSyomh5-kQSeyhLZXfva4WTPINYHgsj',
    2021: '1eNO3lge5flk_K7dviaJxLKjmF9EHQ9Np',
    2022: '1g14GDc-M514I5v5ZsvF96HVba6DW1z0q',
    2023: '1lV6AJqJd8-_iFuak8o_j2jK5mQDnUbRR',
    2024: '1aAlikLl_8YRwGX4B2Kxfc6aza4vmHknE'
}

lista_de_dataframes = []

print("Iniciando proceso de unificación...")

# Usamos un bucle para recorrer cada año y cada ID en nuestro diccionario.
for anio, file_id in archivos_demre.items():
    try:
        # Construimos la URL de descarga para el archivo actual
        url = f'https://drive.google.com/uc?export=download&id={file_id}'

        # Leemos el CSV desde la URL
        print(f"-> Cargando datos del año {anio}...")
        df_temporal = pd.read_csv(url, sep=';')

        # ¡Este es el paso clave! Creamos una nueva columna con el año.
        df_temporal['anio_proceso'] = anio

        # Agregamos el DataFrame de este año a nuestra lista.
        lista_de_dataframes.append(df_temporal)
        print(f"   ...Datos del año {anio} cargados con éxito.")

    except Exception as e:
        print(f"   !!! Error al cargar el año {anio}: {e}")

Iniciando proceso de unificación...
-> Cargando datos del año 2004...
   ...Datos del año 2004 cargados con éxito.
-> Cargando datos del año 2005...
   ...Datos del año 2005 cargados con éxito.
-> Cargando datos del año 2006...
   ...Datos del año 2006 cargados con éxito.
-> Cargando datos del año 2007...
   ...Datos del año 2007 cargados con éxito.
-> Cargando datos del año 2008...
   ...Datos del año 2008 cargados con éxito.
-> Cargando datos del año 2009...
   ...Datos del año 2009 cargados con éxito.
-> Cargando datos del año 2010...
   ...Datos del año 2010 cargados con éxito.
-> Cargando datos del año 2011...
   ...Datos del año 2011 cargados con éxito.
-> Cargando datos del año 2012...
   ...Datos del año 2012 cargados con éxito.
-> Cargando datos del año 2013...
   ...Datos del año 2013 cargados con éxito.
-> Cargando datos del año 2014...
   ...Datos del año 2014 cargados con éxito.
-> Cargando datos del año 2015...
   ...Datos del año 2015 cargados con éxito.
-> Cargando datos del año 2016...
   ...Datos del año 2016 cargados con éxito.
-> Cargando datos del año 2017...
   ...Datos del año 2017 cargados con éxito.
-> Cargando datos del año 2018...
   ...Datos del año 2018 cargados con éxito.
-> Cargando datos del año 2019...
   ...Datos del año 2019 cargados con éxito.
-> Cargando datos del año 2020...
   ...Datos del año 2020 cargados con éxito.
-> Cargando datos del año 2021...
   ...Datos del año 2021 cargados con éxito.
-> Cargando datos del año 2022...
   ...Datos del año 2022 cargados con éxito.
-> Cargando datos del año 2023...
   ...Datos del año 2023 cargados con éxito.
-> Cargando datos del año 2024...

C:\Users\marti\AppData\Local\Temp\ipykernel_12480\3284869019.py:39: DtypeWarning: Columns (34) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temporal = pd.read_csv(url, sep=';')

   ...Datos del año 2024 cargados con éxito.

In [4]:
lista_de_dataframes[0]

,ID_aux,GRUPO_DEPENDENCIA,RAMA,SITUACION_EGRESO,CODIGO_REGION,CODIGO_COMUNA,LENG_ACTUAL,MATE_ACTUAL,HCSO_ACTUAL,CIEN_ACTUAL,PROM_NOTAS,PTJE_NEM,anio_proceso
0,id_001160071115,3,T1,1,1,201.0,469,457,437,426,63,682,2004
1,id_0016900171627,3,H2,5,3,240.0,492,457,513,0,53,481,2004
2,id_0016900571641,3,T1,5,2,225.0,391,442,0,396,48,376,2004
3,id_0028900472899,3,H1,1,8,415.0,353,487,402,0,48,373,2004
4,id_004500078456,2,H2,1,10,510.0,430,425,451,0,54,501,2004
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153977,id_9980999078023,3,H1,5,5,302.0,492,322,311,0,54,496,2004
153978,id_998409971843,3,H3,2,13,NaN,461,258,576,0,52,460,2004
153979,id_9991599279193,2,H1,1,9,490.0,414,492,0,474,57,558,2004
153980,id_9991999579165,3,T1,5,5,314.0,538,524,499,451,47,356,2004
153981,id_999809975987,2,H1,5,13,619.0,476,403,0,451,45,311,2004