In [1]:
import pandas as pd

archivos_demre = {
    2004: '1QmT7MrhT5elmBxwFnHTRxvDo-WnxSqLk',
    2005: '1L37Qs37HYCSPqNiK_AysSZ5-1ee20XB3',
    
}

"""
2006: '17T1xKGUGQCdD5ImdJ4xsuS4WcWFbZ487',
    2007: '1dTfZEoOGElv8ADnLxgG0CXiP_P1Tbn2n',
    2008: '1cVDazftOBixjRVEjIMz72SobVH_JZ9af',
    2009: '1FLU5pj56v9Hin2nZ714BDkHP2BNCv0uK',
    2010: '1gQOioZY8rYHJ067O4rOE6YuUC_OwxGH0',
    2011: '1k7gR9WjHgAz6BIQ02hsPOoe0nyuH7cW3',
    2012: '1dw0KFah64rKdsb1oaqEGC0-6qafY4khl',
    2013: '1rkXXIxrX_5Y3ajjMWePZicH8V6M5wioF',
    2014: '1PTvgmLiUTNf-fZ5CiowjbZJz_c356aPx',
    2015: '1tKq6C8Cb-OVWcMibddcaVS-ruWG8RZ98',
    2016: '1FvcYDKS7vkR6YkDdl93Mwkws83WilMtA',
    2017: '1XGirhyVEEhgWdicYLq1jZ5ZOb8Cn99qX',
    2018: '1EVpqietS_JUYssi6xjfcnN-tXadocq1r',
    2019: '19Ryp-S95tJTOYAimrUBChcGB-2lJw4sh',
    2020: '1OqSyomh5-kQSeyhLZXfva4WTPINYHgsj',
    2021: '1eNO3lge5flk_K7dviaJxLKjmF9EHQ9Np',
    2022: '1g14GDc-M514I5v5ZsvF96HVba6DW1z0q',
    2023: '1lV6AJqJd8-_iFuak8o_j2jK5mQDnUbRR',
    2024: '1aAlikLl_8YRwGX4B2Kxfc6aza4vmHknE'
"""

lista_de_dataframes = []

print("Iniciando proceso de unificación...")

# Usamos un bucle para recorrer cada año y cada ID en nuestro diccionario.
for anio, file_id in archivos_demre.items():
    try:
        # Construimos la URL de descarga para el archivo actual
        url = f'https://drive.google.com/uc?export=download&id={file_id}'

        # Leemos el CSV desde la URL
        print(f"-> Cargando datos del año {anio}...")
        df_temporal = pd.read_csv(url, sep=';')

        # ¡Este es el paso clave! Creamos una nueva columna con el año.
        df_temporal['anio_proceso'] = anio

        # Agregamos el DataFrame de este año a nuestra lista.
        lista_de_dataframes.append(df_temporal)
        print(f"   ...Datos del año {anio} cargados con éxito.")

    except Exception as e:
        print(f"   !!! Error al cargar el año {anio}: {e}")

Iniciando proceso de unificación...
-> Cargando datos del año 2004...
   ...Datos del año 2004 cargados con éxito.
-> Cargando datos del año 2005...
   ...Datos del año 2005 cargados con éxito.

In [ ]:
display(lista_de_dataframes[1].head())
display(lista_de_dataframes[1].tail())

,ID_aux,GRUPO_DEPENDENCIA,RAMA,SITUACION_EGRESO,CODIGO_REGION,CODIGO_COMUNA,LENG_ACTUAL,MATE_ACTUAL,HCSO_ACTUAL,CIEN_ACTUAL,PROM_NOTAS,PTJE_NEM,anio_proceso
169883,id_9985599178580,2,H1,5,1,1101.0,564,524,432,496,58,579,2005
169884,id_9986999678640,3,H2,1,13,13119.0,218,304,338,0,55,521,2005
169885,id_9991599279193,2,H1,5,9,9101.0,547,516,0,496,57,558,2005
169886,id_9992999679268,3,H2,1,13,13127.0,342,345,506,404,60,622,2005
169887,id_9998599379842,2,H1,1,8,8205.0,513,528,0,542,60,620,2005